@charset "UTF-8";

/*Web Fonts*/

@import url("//hello.myfonts.net/count/350a84");

@font-face {
    font-family: 'TaurunumFerrum-Steel';
    src: url('/assets/fonts/350A84_0_0.eot');
    src: url('/assets/fonts/350A84_0_0.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/350A84_0_0.woff2') format('woff2'),
    url('/assets/fonts/350A84_0_0.woff') format('woff'),
    url('/assets/fonts/350A84_0_0.ttf') format('truetype');}


